﻿.wrapper {
  margin-top:                 80px;
  margin-bottom:              60px;
}

.form-signin,
.form-large {
  max-width:                  420px;
  padding:                    30px 38px 66px;
  margin:                     0 auto;
  background-color:           #eee;
  border:                     3px dotted rgba(0,0,0,0.1);
}
.form-large {
  max-width:                  700px;
}

.form-signin-heading {
  text-align:                 center;
  margin-bottom:              30px;
}

.form-control {
  position:                   relative;
  font-size:                  16px;
  height:                     auto;
  padding:                    10px;
}

.form-signin.form-large {
  max-width:                  100%;
}

input[type="text"],
input[type="email"] {
  margin-bottom:              10px;
  border-bottom-left-radius:  0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom:              10px;
  border-top-left-radius:     0;
  border-top-right-radius:    0;
}

input[type="checkbox"].checkbox-inline,
input[type="radio"].radio-inline {
  width:                      auto;
  height:                     auto;
  vertical-align:             top;
}

.checkmark::before {
  content:                    "\2714";
  font-weight:                bold;
  cursor:                     help;
}

.required::before {
  content:                    "*";
  color:                      red;
  font-weight:                bold;
  margin-right:               5px;
}

.colorgraph {
  height:                     7px;
  border-top:                 0;
  background:                 #c4e17f;
  border-radius:              5px;
  background-image:          -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image:          -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image:          -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image:          linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


ul.navbar-nav li > ul.dropdown-menu {
  right:                      auto;
  padding:                    0;
}

ul.navbar-nav li > ul.dropdown-menu > li > a {
  color:                      #777777;
}

ul.navbar-nav > li.open > a,
ul.navbar-nav > li.open > a:focus, 
ul.navbar-nav > li.open > a:hover,
ul.navbar-nav li > ul.dropdown-menu > li > a:hover {
  background-color:           inherit;
  background-repeat:          no-repeat;
  color:                      #333333;
}

ul.navbar-nav > li > a.dropdown-toggle::after,
li.dropdown-submenu > a.dropdown-toggle::after {
  content:                    " ";
  margin-left:                10px;
  display:                    inline-block;
  height:                     0px;
  width:                      0px;
  vertical-align:             middle;
}

ul.navbar-nav > li > a.dropdown-toggle::after {
  border-right:               5px solid transparent;
  border-top:                 10px solid #777777;
  border-left:                5px solid transparent;
}

li.dropdown-submenu > a.dropdown-toggle::after {
  border-top:                 5px solid transparent;
  border-left:                10px solid #777777;
  border-bottom:              5px solid transparent;
  float:                      right;
  margin-top:                 5px;
}

li.dropdown-submenu {
  position:                   relative;
}

li.dropdown-submenu > ul.dropdown-menu {
  position:                   absolute;
  top:                        0;
  left:                       100%;
  margin-top:                 -1px;
  margin-left:                -1px;
}

li.dropdown-submenu.submenu-left > ul.dropdown-menu {
  left:                       0;
  right:                      100%;
  margin-left:                -100%;
}

li.dropdown-submenu:hover > ul.dropdown-menu {
  display:                    block;
}

ul.dropdown-menu > li.divider {
  margin:                     0px;
}

span.help-text {
  font-size:                  9pt;
  font-style:                 italic;
  color:                      #777777;
}

.form-control.user-icon {
  width:                      150px;
  height:                     auto;
}

.btn.file-upload {
  position:                   relative;
  overflow:                   hidden;
  margin:                     10px;
  margin-bottom:              15px;
}

.btn.file-upload input.upload {
  position:                   absolute;
  top:                        0;
  right:                      0;
  margin:                     0;
  padding:                    0;
  font-size:                  20px;
  cursor:                     pointer;
  opacity:                    0;
  filter:                     alpha(opacity=0);
}

img.upload-img {
  display:                    block;
  background-color:           #FFFFFF;
  background-image:           none;
  padding:                    6px 12px;
  border:                     1px solid #ccc;
  border-radius:              4px;
  box-shadow:                 inset 0 1px 1px rgba(0,0,0,.075);
  transition:                 border-color ease-in-out .15s,
                              box-shadow ease-in-out .15s;
  cursor:                     pointer;
}

img.upload-img:focus,
img.upload-img:active {
  box-shadow:                 0px 0px 5px rgb(75, 200, 255);
}

.file-content {
  display:                    none;
}

input[type='tel'].form-control,
select.form-control {
  margin-bottom:              10px;
}

span.help-popup {
  display:                    inline-block;
  cursor:                     help;
}

span.help-popup > div {
  position:                   absolute;
  display:                    block;
  background-image:           linear-gradient(to bottom, #D9EDF7 0, #B9DEF0 100%);
  background-repeat:          repeat-x;
  border-color:               #9ACFEA;
  color:                      #31708F;
  white-space:                normal;
  font-weight:                normal;
  text-align:                 left;
  padding:                    10px 5px 5px;
  border-width:               1px;
  border-style:               solid;
  border-radius:              4px;
  font-family:                "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:                  14px;
  margin-left:                -5px;
  margin-top:                 -11px;
  opacity:                    0;
  height:                     auto;
  width:                      400px;
  z-index:                    -101;
  transition:                 opacity 0.2s, z-index 1.6s;
  cursor:                     auto;
}

span.help-popup > div > ul {
  padding-left:               20px;
}

span.help-popup:hover > div {
  opacity:                    1;
  z-index:                    101;
  transition:                 opacity 0.3s, z-index 0s;
}

thead.thead-inverse {
  color:                      #ECEEEF;
  vertical-align:             top;
  border-color:               #55595C;
  border-bottom:              2px solid #ECEEEF;
  border-top:                 1px solid #ECEEEF;
  background-color:           #373A3C;
}

span.span-label {
  min-width:                  150px;
  display:                    inline-block;
}

span.span-label:after {
  content:                    ":";
}

span.span-value {
  font-weight:                bold;
  display:                    inline-table;
}

span.span-value > a {
  font-weight:                normal;
}

.user-modal-content {
  display:                    table;
}

.user-img,
.user-details-block,
.group-details-block {
  display:                    table-cell;
  vertical-align:             top;
}

.user-img > img {
  border-radius:              8px;
  border:                     1px solid #E5E5E5;
  margin:                     15px;
  width:                      150px;
  box-shadow:                 2px 2px 5px 1px #E5E5E5;
}

.user-details-block,
.group-details-block {
  padding-left:               30px;
}
.user-details-block ul,
.group-details-block ul {
   padding-left:              15px;
}

div.user-img.uuid-icon > img {
  width:                      30px;
  display:                    inline-block;
  margin:                     0px;
}

div.user-img.uuid-icon {
  display:                    inline-block;
  vertical-align:             top;
  margin-right:               15px;
  width:                      30px;
  height:                     30px;
}