a.top-icon {
  background-size:            25px;
  background-repeat:          no-repeat !important;
  background-position:        8px 50%;
  padding:                    15px 10px 15px 40px !important;
}

div.wrapper a.top-icon {
  background-size:            20px;
  padding-left:               35px !important;
}

a.top-icon:hover,
a.user-icon:hover {
  box-shadow:                 0px 0px 1em #C0C0F0;
  border-radius:              4px;
}

div.wrapper a.top-icon:hover {
  box-shadow:                 none;
  border-radius:              0;
}

a.user-icon > img {
  width:                      22px;
  height:                     22px;
  margin-right:               8px;
  float:                      left;
  border-radius:              6px;
}

a.top-icon.home {
  background-image:          url('../img/home-icon.png') !important;
}

a.top-icon.login {
  background-image:          url('../img/login-icon.png') !important;
}

a.top-icon.gitlab {
  background-image:          url('../img/gitlab-icon.png') !important;
}

a.top-icon.rancher {
  background-image:          url('../img/rancher-icon.png') !important;
}

a.top-icon.nexus {
  background-image:          url('../img/nexus-icon.png') !important;
}

a.top-icon.nexus2 {
  background-image:          url('../img/nexus2-icon.png') !important;
}

a.top-icon.jenkins {
  background-image:          url('../img/jenkins-icon.png') !important;
}

a.top-icon.sonar {
  background-image:          url('../img/sonar-icon.png') !important;
}

a.top-icon.docker {
  background-image:          url('../img/docker-icon.png') !important;
}

a.top-icon.was {
  background-image:          url('../img/was-icon.png') !important;
}

a.top-icon.websvn {
  background-image:          url('../img/websvn-icon.png') !important;
}

a.top-icon.maven {
  background-image:          url('../img/maven-icon.png') !important;
}

a.top-icon.nagios {
  background-image:          url('../img/nagios-icon.png') !important;
}

a.top-icon.sab {
  background-image:          url('../img/sab-icon.png') !important;
}

a.top-icon.redmine {
  background-image:          url('../img/redmine-icon.png') !important;
}

a.top-icon.oracle {
  background-image:          url('../img/oracle-icon.png') !important;
}

a.top-icon.doc {
  background-image:          url('../img/doc-icon.png') !important;
}

a.top-icon.pic {
  background-image:          url('../img/pic-icon.png') !important;
}

a.top-icon.hugo {
  background-image:          url('../img/hugo-icon.png') !important;
}

a.top-icon.user {
  background-image:          url('../img/user-icon.png') !important;
}

a.top-icon.users {
  background-image:          url('../img/users-icon.png') !important;
}

a.top-icon.groups {
  background-image:          url('../img/groups-icon.png') !important;
}

a.top-icon.exit {
  background-image:          url('../img/exit-icon.png') !important;
}

a.top-icon.tools {
  background-image:          url('../img/tools-icon.png') !important;
}

a.top-icon.log {
  background-image:          url('../img/log-icon.png') !important;
}

a.top-icon.openfire {
  background-image:          url('../img/openfire-icon.png') !important;
}

a.top-icon.release {
  background-image:          url('../img/release-icon.png') !important;
}

a.top-icon.teamlogger {
  background-image:          url('../img/teamlogger-icon.png') !important;
}
